
{% load static %}
<footer id="footer" class="bg-success">
    <div class="row">
        <p class="col-4 font-weight-bold">&copy; 2016 - 2018 Zuť,zuť,zuť!</p>
        
        
        <div class="col-4">
            <img src="{% static 'images/facebook.png' %}" alt="facebook" width="35px" height="35px">
            <img src="{% static 'images/instagram.png' %}" alt="instagram" width="35px" height="35px">
            <img src="{% static 'images/twitter.png' %}" alt="twitter" width="35px" height="35px">
        </div>

        <p class="col-4 font-weight-bold">kontakt: +421 944 731286 <br>
                                          Kolejní 2, 612 00 Brno blok A04</p>
       
    </div>
</footer>