<!-- ------------------------------------
    VUT FIT 2018/19
    Project to IIS
    Jakub Kubik (xkubik32)
    ------------------------------------
    navigation for all emplyee home page and subpages
  -->

<div class="btn-group container">

    <div class="btn-group">

        <div class="btn-group">
            <button type="button" class="btn btn-lg btn-success dropdown-toggle" data-toggle="dropdown">
                Správa tovaru
            </button>
            
            <div class="dropdown-menu animation slideDownIn">
                    <a href="emp_manage_cost.html" class="dropdown-item btn-success" href="#">Kostýmy</a>
                    <a href="emp_manage_access.html" class="dropdown-item btn-success" href="#">Doplnky</a>
                </div>
        </div>

        <a href="emp_manage_cust.html" class="btn btn-lg btn-success">Správa zákazníkov</a>

        <a href="emp_manage_lend.html" class="btn btn-lg btn-success">Správa pôžičok</a>
    
    </div>
    
</div> 